.about-section {
  height: 80vh;
  background: url(../assets/img/demo-image-00.png), #000;
  background-repeat: no-repeat;
  background-position: right bottom;
}

@media (max-width: 750px) {
  .about-section {
    height: 70vh;
    background-size: contain;
  }
}

img {
  object-fit: cover;
}

.sign-up-link {
  padding: 0.5rem 0.25rem;
}

.sign-up-link span {
  border-radius: 0.5rem;
  padding: 0.75rem;
  color: #a06c54;
}

.sign-up-link span:hover {
  background-color: #a06c54;
  color: #fff !important;
}
