.about-section {
  height: 80vh;
  background: url(../assets/img/demo-image-00.png), #000;
  background-repeat: no-repeat;
  background-position: right bottom;
}

@media (max-width: 750px) {
  .about-section {
    height: 70vh;
    background-size: contain;
  }
}

img {
  object-fit: cover;
}
